# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
*.pyc
/backend/venv/*
*.code-workspace

# Node.js
node_modules/
backend/venv/lib/python3.12/site-packages/yaml/__pycache__/resolver.cpython-312.pyc
